
.formRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
    min-width: 600px;
    margin: 0 auto;
}

.w100 {
    width:100%;
}

.typography {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #1976d2;
}

.typography:nth-child(1){
    margin-top: 10px;
}