*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(6, 6, 58, 0.945)
}

#containerLogin {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 500x;
    max-width: 500px;
    min-width: 200px;
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

#containerLogin h1{
    margin-bottom: 5px;
    text-transform: uppercase;
}

#containerLogin p{
    margin-bottom: 15px;
}

#containerLogin form input{
    width: 370px;
    height: 10px;
}

#containerLogin form label{
   position: absolute;
   /* top: -9px; */
}
